
html, body {
  margin: 0;     /* Removes any margin on html and body */
  padding: 0;    /* Removes padding */
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 95%, #fad99e 100%);
  background-attachment: fixed;
  color:rgba(255, 255, 255, 0.753);
  margin:0;
  min-height: 100vh;
  margin: 0px;
  overflow: hidden;
  user-select: none;
}

.menuContainer{
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li{
  list-style-type: none;
}

img:not(.video, .osIcons, .noCrop){
  border-radius: 30%;
  clip-path: circle();
  cursor: pointer;
}

.reactDiv{
  position: absolute;
  left: 2vw;
  top: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  /* text-shadow: 0px 1px 13px #000000; */
  /* text-shadow: 1px 3px 0 #969696, 1px 5px 5px #000000; */
}


@keyframes rotateReact {
  from{
    transform: translate(7px, -45px);
  }
  to{
    transform: translate(7px, -45px) rotate(1turn);
  }
}
.react{
  /* margin-inline: 10px; */
  z-index: -1;
  width: 40px;
  position: absolute;
  margin-top: 7px;
  transform-origin: center;
  animation: rotateReact 6s infinite linear;
}


.reactTitle{
  /* text-shadow: 0px 1px 13px #000000; */
  margin-top: 46px;
  font-weight: bold;
  font-size: 20px;
}
ul{
  text-align: center;
  cursor:pointer;
  padding-inline-start: 0;
  position: relative;
  margin:10px
}

#MyPic{
  transform: scale(0);
  text-align: center;
  width: 100px;
}

.mainDiv{
  display: flex;
}

.leftMenu{
  top:38%;
  left:8%;
  animation: fadeInLeft 2s forwards;
}

.rightMenu{
  top:38%;
  right: 8%;
  animation: fadeInRight 2s forwards;
}

.projDiv{
  margin-top: 140px;
}


@keyframes fadeInLeft {
  from{
    transform: translateX(-100vw);
  }
}

@keyframes fadeInRight {
  from{
    transform: translateX(calc(100vw + 522px));
  }
}

.picContainer{
  position: absolute;
  display: block;
  text-align: center;
  top: 43%;
  transform: translateY(-50%);
}


.outerMenu {
  width: 90vw;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 20px;
}

.outerMenu:hover{

}

.nestedMenu{
  position: relative;
  display: flex;
  justify-content: center;
  letter-spacing: normal;
}

.nestedMenu:not(:last-child){
  margin-bottom: 20px;
  margin-top: 20px;
}
.dropdown{
  text-shadow: 4px 3px 0px #ffffff13,
  2px 6px 0px rgba(0,0,0,0.15);
  font-size: 35px;
  text-align: center;
}

.submenu:not(.open, .close){
  max-height: 0px;
  transform: scale(0);
  will-change: transform, opacity, max-height, font-size;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
}

.submenu.close{
  animation: closeSubmenu 0.5s forwards;
  will-change: transform, opacity, max-height;
}

.submenu.open{
  animation: openSubmenu 0.5s forwards ease-in ;
  will-change: transform, opacity, max-height;
  margin-bottom: 30px;
}


.tooltip{
  position: absolute;
  background: rgba(255, 255, 255, 0.09);
  color: rgb(253, 232, 0);
  border-radius: 15px 15px 15px 0px;
  padding: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  visibility: hidden;
  will-change: transform ;
  bottom: 35%;
  width: 100%;
}

@keyframes openSubmenu {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  50%{
    opacity: 0;
    max-height: 100vh;
  }
  100%{
    opacity: 1;
    max-height: 100vh;
  }
}

@keyframes closeSubmenu {
  0% {
    opacity: 1;
    max-height: 400px;
    transform: scale(1);
  }
  30%{
    opacity: 0;
    transform: scale(1);
    max-height: 400px;
  }
  100%{

    opacity: 0;
    max-height: 0px;
    transform: scale(0);

  }
}

@keyframes tooltipShow {
  0%{
    transform: skew(-10deg, -15deg) translateX(300px);
  }

  90%{
    transform: skew(2deg, 2deg);
  }
  95%{
      transform: skew(1deg, 1deg);
  }

}

@keyframes tooltipHide {

  0%{
    opacity: 1;
    transform: skew(2deg, 2deg);
  }


  100%{
    opacity: 0;
    transform: skew(-10deg, -15deg) translateX(300px);
    visibility: hidden;
  }
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translate(300%, -80px);
  }
  to {
    opacity: 1;
    transform: translate(219px, -80px);
  }
}

@keyframes fadeOutDropdown {
  from {
    opacity: 1;
    transform: translate(219px, -80px);
  }
  to {
    opacity: 0;
    transform: translate(300%, -80px);
  }
}
.dropdownMenu{
  border:solid;
  border-radius: 3%;
  background-color: rgb(0, 0, 53);
  animation: fadeInDropdown 0.5s ease-in  forwards;
}

.dropoutMenu{
  border:solid;
  border-radius: 3%;
  background-color: rgb(0, 0, 53);
  animation: fadeOutDropdown 0.5s ease-in  forwards;
}

.git{
  transition: width 0.5s ease;
  transform-origin: center center;
  width: 30px;
}

.linkedin{
  filter: invert(100);
  width: 30px;
}

.backArrow{
  width: 60px;
  filter: invert(100);
}

@keyframes fortyRota {
  45% {
    transform: rotateY(0.5turn);
  }
}


@keyframes fortyRotb {
  0% {
    transform: translate(-30px, 20px) skew(50deg);
    filter: blur()
  }
  45% {
    transform: translate(-30px, 20px) skew(50deg) rotateY(-0.5turn);
  }
  100%{
    transform: translate(-30px, 20px) skew(50deg)
  }
}

.fortytwo{
  position: absolute;
  top:3%;
  transform: translateX(calc(45vw - 40px));
}


.backArrow{
  position: absolute;
  top:3%;
  transform: translateX(calc(40px - 45vw));
}
.backArrow a:nth-child(1) img, .backArrow a:nth-child(2) img{
  width: 30px;
}
.backArrow a:nth-child(2) img{
  cursor: default;
}

.backArrow a:nth-child(2){
  filter: invert(100) blur(1px);
  z-index: -1;
  transform: translate(-30px, 20px) skew(50deg);
}


.fortytwo a:nth-child(1){
  filter: invert(100);
  width: 40px;

  animation: fortyRota 8s infinite linear !important;
}

.fortytwo a:nth-child(2){
  width: 50px;
  filter: blur(1px);
  animation: fortyRotb 8s infinite linear !important;
  z-index: -100;
}
.fortytwo a:nth-child(2) img{
  filter: blur(1px);
  cursor: default;
}

.docContainer{
  position: absolute;
  top:10%;
  min-width: 500px;
  width: 50vw;
  height: 85vh;
  opacity: 0;
  transition: opacity 1s;
}

.doc{
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  display: block;
  border:none;
  text-align: center;
}

.visible.doc,
.visible.docContainer{
  opacity: 1;
  transition: opacity 1s 1s;
}

.pdfErrMsg{
  position: absolute;
  width: 300px;
  top: 45%;
  left: 20%;
}

.stepsContainer{
  position: absolute;
  left: 10%;
  top: 40%;
  transform: translate(-10%, -40%);
  width: 30vw;
  max-width: 550px;
  z-index: 1;
  text-align: left;
  animation: stepsContainerDesktopShow 1s;
}



@keyframes stepsContainerDesktopShow {
  from{
    transform: scale(0) translate(-10%, -40%) ;
    z-index: -1
  }
  to{
    transform: scale(1) translate(-10%, -40%);
  }
}

@keyframes stepsContainerMobileShow {
  from{
    transform:scale(0);
  }
  to{
    transform: scale(1);
  }
}

.step{
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  max-height: 520px;
  overflow-x: hidden;
}
.stepDesc{
  transition: max-height 0.3s, opacity 0.1s;
  max-height: 0px;
  visibility: hidden;
  line-height: 25px;
}

.stepDesc.open{
  max-height: 100vh;
  transition: max-height 0.3s;
  visibility: visible;
  white-space: pre-line;
}

.gitCloneContainer{
  position: absolute;
  top: 90%;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  justify-content: center;
  animation: gitCloneContainerDesktopShow 1s ease-out;
}

@keyframes gitCloneContainerDesktopShow {
  from{
    transform: translateX(-50%) scale(0);
  }
  to{
    transform: translateX(-50%) scale(1);
  }
}
@keyframes gitCloneContainerMobileShow {
  from{
    transform:translateX(-50%) scale(0);
  }
  to{
    transform: translateX(-50%) scale(1);
  }
}
.gitCloneContainer.mobile{
  position: relative;
  left:50%;
  margin-top: 60px;
  animation: gitCloneContainerMobileShow 1s ease-out;
}

.gitClone{
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.copyBox{
  margin-top: 9px;
}

.gitLink{
  width: 80%;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.09);
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  padding: 5px;
}

.copySvg{
  transform: translate(16px, 9px);
  width: 30px;
  filter: invert(100);
}

.copySvg:hover{
  opacity: 0.7;
}

.okCpy.hide{
  transition: opacity 0.2s;
  opacity: 0;
  z-index: -1;
}

.okCpy{
  transition: opacity 0.2s;
  opacity: 1;
  transform: translate(-20px, 33px);
}

.videoContainer{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40vw;
  transform: translateY(-50%);
}

@keyframes vidOut {
  from{}
  to{
    transform: translateX(100vw) scale(1.9);
    visibility: hidden;
  }
}

@keyframes vidIn {
  from{
    transform: translateX(100vw) scale(1.9);
  }
  to{}
}

.video{
  box-shadow: 0px 0px 74px 5px #00001C;
  animation: vidOut 0.5s forwards ease-in;
}

.video.show{
  max-width: 600px;
  animation: vidIn 0.5s forwards ease-out;
}

.osIcons{
  width: 30px;
  filter: invert(100);
  padding-left: 20px;
}

@media(max-width: 1600px){
  body, html{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100lvh;
    block-size: 100lvh;

  }
  .menuRef{
    position: absolute;
    top: 50%;
    left: auto;
  }
  .picContainer{
    top:50%;
    transform: translateY(-180%);
  }

  .stepsContainer{
    position: relative;
    width: 90vw;
    left: auto;
    transform: none;
    animation: stepsContainerMobileShow 1s ease-out;
  }

  .video{
    box-shadow: none;
    animation: videoMobile 1s forwards ease-out;
    width: 100%;
  }
  .video.show{
    animation: videoMobile 1s forwards ease-out;
    width: 100%;
  }

}

@media (width <= 450px) and (height <= 900px) {
  .fortytwo{
    display: none;
  }
  .reactDiv{
    display: none;
  }
}

@keyframes videoMobile {
  from{
    transform: translateY(-500px);
  }
  to{
    transform: none
  }
}

@keyframes videoContainer {
  from{
    max-height: 0;
  }
  to{
    max-height: 100vh;
  }
}
.videoContainer.mobile{
  position: static;
  overflow: hidden;
  width: auto;
  transform: none;
  display: flex;
  justify-content: center;
  animation: videoContainer 1s forwards ease-out;
}

video.hide{
  visibility: hidden;
  animation: none;
  transform: translateX(100vw) scale(1.9);
}

.fadeOut{
  transition: transform 1s;
  transform-origin: center;
  transform: scale(0.0001);
}